node_modules
test
.babelrc.js
.eslintrc.js
scripts
coverage
docs
.vscode
.czrc
.eslintignore
.husky
.history
commitlint.config.js
typedoc.json
babel.config.js
.editorconfig
build.sh
fixture

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tsconfig.json
rollup.config.js
prettier.config.js
jest.config.js
utils.config.js

changelog.config.js
